.form-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282828;
}

#signin {
  background-color: hsla(152, 61%, 62%, 85%);
}
.container{
  height: auto;
}

#error {
  width: 400px;
}

#confirmation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
