.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px auto;
  margin-top: 50px;
}


.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50%;
}

.card p {
  margin-top: 5px;
  font-size: 15px;
}

.card img{
  width: 25%;
  min-width: 200px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.card-container {
  margin: -30px auto;
}

section {
  height: auto;
}


@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {
  section {
    height: auto;
    min-height: 80vh;
  }

  .card p {
    margin-top: 5px;
    font-size: 25px;
  }
}
