<section>
  <div class="container">
    <div class="row">
      <p class="plaintext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt suscipit arcu,
        non convallis sem fermentum eget. Sed felis nisi, faucibus in scelerisque a, rutrum sed elit. Integer vel
        arcu mauris. Fusce ligula urna, gravida et justo vel, interdum lobortis nibh. Praesent posuere mi ante, in aliquam
        ligula tincidunt quis. Nulla in purus tortor. Morbi ac imperdiet metus. Integer justo neque,
      </p>
    </div>
    <img src = "./assets/Humaaans%20-%202%20Characters.png" alt = "dancing people image">
  </div>
  <div class="container card-container">
    <div class="card">
      <img src="./assets/109-map-location.svg">
      <p>As close as possible to you</p>
    </div>
    <div class="card">
      <img src="./assets/day78-wallet.svg" alt="wallet">
      <p>We keep your money safe</p>
    </div>
    <div class="card">
      <img src="./assets/119-working.svg" alt="working">
      <p>A bank for young workers</p>
    </div>
  </div>
</section>




