.container {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 2.5%;
}




section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: auto;
  margin-top: 10px;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 50%;
  width: 500px;
  height: auto;
  margin: auto;

}

.home-img {
  width: 500px;
  height: 375px;
}

.card p {
  margin-top: 5px;
  font-size: 15px;
}

.card img{
  width: 25%;
  min-width: 200px;
}

.card {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  margin: 50px auto;
  margin-bottom: 5%;
}


.modal {
  display: none; /* Masquer la modale par défaut */
  position: fixed; /* Positionner la modale en tant que position fixe */
  z-index: 1; /* Positionner la modale au-dessus des autres éléments */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Ajouter le défilement si le contenu de la modale est trop grand */
  background-color: rgba(0, 0, 0, 0.4); /* Faire un fond sombre pour la modale */
}




@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {
  section {
    height: auto;
    min-height: 80vh;
  }

  .card p {
    margin-top: 5px;
    font-size: 25px;
  }
}
