.card {
  background-color: #1C818C;
  box-shadow: 1px 1px 3px black;
  margin: 10px;
}
.container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.list-transactions{
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;
}
